---
import Topic from '../../layouts/Topic.astro';
import Acronyms from '../../data/acronyms.json';
---

<Topic>
    <div id="tab:intl">
        <p>
            The United Nations High Commissioner for Human Rights outlines well the current international stance on education.<sup>[<a href="#ref:unhr:free-and-eq" class="cite"></a>: p. 130]</sup>
        </p>
        <blockquote>
            States should review their national curriculum to combat harmful stereotypes based on gender, sexual orientation, gender identity and expression and sex characteristics.
            The curriculum should enshrine the principle of non-discrimination and integrate human rights education.
            Non-discrimination campaigns and standards should be developed and applied within the context of education to combat discrimination and violence, including bullying, faced by children and youth on the basis of their actual or perceived sexual orientation, gender identity or expression or sex characteristics, or on the basis of gender non-conformity.
        </blockquote>
    </div>
    <div id="tab:uk" hidden aria-hidden="true">
    </div>
</Topic>