---
import Topic from '../../layouts/Topic.astro';
import Acronyms from '../../data/acronyms.json';
---

<Topic>
    <div id="tab:intl">
    </div>
    <div id="tab:uk" hidden aria-hidden="true">
    </div>
</Topic>