---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="container bg-body" style="border-radius: 1em; padding: 2em">
        <h1 class="pb-2">
            UhOh
        </h1>

        <p>
            I don't know how you got here, but something went wrong.
        </p>
    </div>
</Layout>
