---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="container bg-body" style="border-radius: 1em; padding: 2em">
        <h1 class="pb-2">
            About
        </h1>

        <p>
            I (Autumn, more about me <a href="https://www.chorl.dev/" target="_blank">here</a>) am a transfem person from the UK.
            I&rsquo;ve experienced firsthand the UK&rsquo;s failings to deliver on trans rights and found myself rewriting something along these lines many times.
            So I decided to create this project.
        </p>

        <p>
            This site pulls together international law, expert opinion, and other best practice to show the UK&rsquo;s absolute failings to meet its obligations.
        </p>

        <p>
            In writing this, I also communicated with a number of government bodies; you can see these communications listed under &ldquo;emails&rdquo;.
        </p>
    </div>
</Layout>
