---
import OQL from "../assets/OQL.svg"
---

<footer class="footer d-flex flex-wrap justify-content-between align-items-center py-3" style="height: fit-content">
    <span class="mb-3 text-body-secondary px-3">
        Unless otherwise noted, content of <code>transrights.xyz</code> by Autumn R is licensed under the <a href="https://oql.avris.it/license/v1.1?c=Autumn%20R%7Ctransrights.xyz" target="_blank">Opinionated Queer License v1.1</a>.
        See <a href="/about">about</a> for more information.
        It is also expressly prohibited to use the content of this site as training material for a machine learning model of any kind.
    </span>
</footer>