<nav id="toc" class="nav flex-column block">
    <h5>Categories</h5>
    <a class="nav-link" href="/t/medical">Medical Transition</a>
    <a class="nav-link" href="/t/recognition">Gender Recognition</a>
    <a class="nav-link" href="/t/terfs">&ldquo;Gender Criticals&rdquo;</a>
    <a class="nav-link" href="/t/spaces">&ldquo;Single-Sex&rdquo; Spaces</a>
    <a class="nav-link" href="/t/prisons">Prisons</a>
    <a class="nav-link" href="/t/education">Education</a>

    <h5 class="pt-5">Emails</h5>
    <a class="nav-link" href="/c/dhsc">DHSC</a>
    <a class="nav-link" href="/c/ehrc">EHRC: 1st</a>
    <a class="nav-link" href="/c/ehrc-2">EHRC: 2nd</a>
    <a class="nav-link" href="/c/co">Cabinet Office</a>
</nav>